.labelCampo {
    display: flex;
    text-align: left;

    font-size: 24px;
}

.CampoTexto {
    padding: 1.2rem;
    height: 4vh;
    width: 24vw;    

    border: 4px solid var(--vermelho);
    border-radius: 12px;

    font-family: "Abhaya Libre", serif;
    font-size: 24px;
    outline: none;

    background-color: rgba(245, 233, 233, 50%);
}

.CampoTexto::placeholder {
    color: var(--preto);
    opacity: 1%;
}

.CampoTexto:focus {
    /* transition-duration: 0.5s; */
    border: 4px solid var(--preto);
}
