* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
  }
  
.bg {
  /* background-image: url("./assets/Background.png");  */
  background-image: url("./assets/dungeon-meshi-delicious-in-dungeon.png"); 
  /* background-image: url("./assets/black-brick-wall.jpg");  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px, 5px;
  height: 100vh;
}